<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="KlonsLIBDesign" value="D:\A1-docs\c_net\KlonsLIB.Design\NuGet\BuildOut" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceMapping>
    <packageSource key="KlonsLIBDesign">
      <package pattern="KlonsLIB.Design*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*"  />
    </packageSource>
    <packageSource key="Local Nuget Feed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
